/*ESTUDIO LUZ CLARA*/

/*VARIABLES Y CONFIGURACIÓN*/
/*Una VARIABLE guarda un valor con un nombre, para poder
reutilizarlo.
Se declara dentro :rot, que representa el elemneto html y es el ancestro de todos*/

:root {
    /*Paleta de colores*/
    --color-tinta: #1a1a1a; /*Texto principal. casi negro*/
    --color-suave: #6b6b6b; /*Texto secundario y pies de foto*/
    --color-marca: #2c3e50; /*El azul del estudio*/
    --color-acento: #c87941; /*Terracota de los botones*/
    --color-acento-osc: #a45f2e; /*Terracota oscuro*/
    --color-fondo: #fafaf8; /*Blanco roto*/
    --color-fondo-alt: #f0eee9; /*Para alternas fondos secciones*/
    --color-linea: #dddad3; /*Bordes y separadores*/
    --color-blanco: #ffffff; /*Blanco puro*/

    /*TIPOGRAFÍA*/
--fuente-titulo: Georgia, 'Times New Roman', serif;
--fuente-texto: 'Segoe UI',Arial, sans-serif;

/*ESPACIADO. conversión 1rem = 10px*/
--esp-xs: 0.8rem;/*8px*/
--esp-sm: 1.6rem;/*16px*/
--esp-md: 2.4rem;/*24px*/
--esp-lg: 4rem;/*40px*/
--esp-xl: 8rem;/*80px*/

/*OTROS ELEMENTOS*/
--radio: 0.6rem; /*6px*/
--sombra-1: 0 0.2rem 0.6rem rgba(0, 0, 0, .06); /*apenas separado*/
--sombra-2: 0 0.4rem 1.2rem rgba(0, 0, 0, .10); /*tarjetas*/
--sombra-3: 0 0.8rem 2.0rem rgba(0, 0, 0, .16); /*elementos elevados*/
--transicion: 0.25s ease;
--ancho-max: 120rem; /*1200px*/
}

/*RESET Y BASE TIPOGRÁFICA*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;/*La línea más importante del reset porque sin ella, si a un caja le damos un width: 300px y además 
    un padding: 20px y border: 2px, la caja en realidad mide: 300+20+20+2+2= 344px con esta linea el relleno y el borde se descuentan hacia adentro*/
}
/*LA BASE DEL TAMAÑO. La técnica del 62.5%*/
html {
    font-size: 62.5%; /*por omisión el navegador usa 16px para el tamaño base, el 62.5 de 16 es exactamente 10, Tiene que ver con
    accesibilidad y la parte responsive*/
    scroll-behavior: smooth; /*Saltos suaves al usar navegación con anclas*/
}
body {
    font-size: 1.6rem;/*si no se agrega esta línea, el texto no toma el valor de los 16px base y quedaría un texto casi ilegible*/
    font-family: var(--fuente-texto);
    line-height: 1.6;/*Aumenta el tamaño de la fuente que tiene*/
    color: var(--color-tinta);
    background-color: var(--color-fondo);
}

/*JERARQUÍA DE TÍTULO*/
h1, h2, h3 {
    font-family: var(--fuente-titulo);
    line-height: 1.2;
    color: var(--color-marca);
}
h1 {font-size: 4.8rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.0rem;}

p{
    margin-bottom: var(--esp-sm);
}

a {
    color: var(--color-acento);
    text-decoration: none;/*elimina líneas de los enlaces y viñetas*/
}

img {/*Evitan problema de desborde*/
    max-width: 100%;
    height: auto;/*ancho*/
    display: block;/*Eliminan ciertos márgenes que las computadoras dan por defecto*/
}

/*CONTENEDORES Y SECCIONES*/
.seccion {
    max-width: var(--ancho-max);/*Toma todo el ancho disponible*/
    margin-left: auto;
    margin-right: auto;/*Centra el bloque, repartiendo el espacio sobrante por igual*/
    padding: var(--esp-xl) var(--esp-md);/*cuando son valores: afecta arriba y abajo
     y los otros dos izquierda y derecha*/
}

.seccion-alterna {
    background-color: var(--color-fondo-alt);
    max-width: none;/*Se anula el ancho máximo para que el fondo ocupe todo el ancho de la pantalla*/
}

.seccion-alterna {
    max-width: var(--ancho-max);
    margin-left: auto;
    margin-right: auto;/*el contenido de esta secciónse limita y se centra. el selector > significa "hijo directo".
    alcanza solo el primer nivel de elementos. No a los nietos*/
}

.seccion-titulo {
    margin-bottom: var(--esp-sm);
    text-align: center;
}

.seccion-entrada {
    max-width: 65ch;/*La unidad ch equivale al ancho del caracter "0" de la fuente en uso, son 65 caracteres por linea
    para una lectura más cómoda*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--esp-lg);
    text-align: center;
    color: var(--color-suave);
}

.pagina-encabezzado {
    max-width: var(--ancho-max);
    margin: 0 auto;
    padding: var(--esp-xl) var(--esp-md) var(--esp-lg);
    /*Tres valores: afectan arriba, lados y abajo*/
    text-align: center;
}

.pagina-titulo {
    margin-bottom: var(--esp-xs);
}

.pagina-bajada {
    color: var(--color-suave);
    font-size: 1.8rem;
}

.subtitulo {
    margin: var(--esp-md);
    margin-bottom: var(--esp-xs);
}

/*CABECERA Y MENÚ*/

.cabecera {
    display: flex;/*Activa flexbox*/
    justify-content: space-between;/*Coloca el primer elemento al inicio y el segundo al final*/
    align-items: center;
    padding: var(--esp-sm) var(--esp-md);
    border-bottom: 0.1rem solid var(--color-linea);
    position: sticky;
    top: 0;
    z-index: 100;/*Funciona con stiky, relative y absolute*/
}

.logo {
    display: flex;
    align-items: center;
    gap: var(--esp-xs);
    color: var(--color-marca);
}

.logo:hover .logo-icono {
    transform: rotate(-8deg);/*Cuando el cursor esta sobre el logo se gira 8 grados*/
}

.logo-texto {
    font-family: var(--fuente-titulo);
    font-size: 2rem;
    font-weight: 700;

}

/*NAVEGACIÓN*/
.menu {
    display: flex;
    gap: var(--esp-sm);
    list-style: none;
}

.menu-enlace {
    display: inline-block;/*Esta línea permite aplicar padding vertical*/
    padding: var(--esp-xs) var(--esp-sm);
    color: var(--color-tinta);
    font-weight: 600;
    border-radius: var(--radio);
    transition: background-color var(--transicion);
}

.menu-enlace:hover {
    background-color: var(--color-fondo-alt);
    color: var(--color-marca);
}

.menu-enlace:focus {
    outline: 0.2rem solid var(--color-acento);
    outline-offset: 0.2rem;/*Se activa con la tecla TAB al llegar al enlace.
    permite navegar el sitio con el teclado*/
}

.menu-enlace-activo {
    color: var(--color-acento);/*Dos clases del mismo elemento, Significa que marca la página que esta activa*/
}