html {
  font-size: 100%
}

/*Reset básico*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} /*esta regla elimina los másgenes*/

body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #4a2e2b;
  background-color: #e8c5c8;
  padding-top: 180px;
}
#contenido-principal {
  text-align: left;
}

.contenedor { 
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  color: #e8c5c8;
  text-align: center;
  margin-top: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-transform:uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

h2{
  font-size: 1.5rem;
  font-weight: 600;
}
h3{
  font-size: 1rem;
  font-weight: 500;
}

p{
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 16px;
}/* Separa los párrafos */

header{
  background-image: url(../recursos/fondosp.jpg);
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  padding: 30px;
  color: rgba( 0, 0, 0, 0.35);
  color: #e8c5c8;
}

header nav ul {
    list-style-type: none;
    text-align: right;
    text-align: ;
}/* Quita las viñetas y el subrayado*/

header nav a {
    text-transform: uppercase;
    letter-spacing: 3px;   
    font-size: 0.9rem;
    text-decoration: none;
    padding: 10px 15px;
    color: black;
    font-weight: 600;
}
header nav li {
  display: inline-block;
}

footer{
  background-color: #e8c5c8;
  padding: 20px;
  margin-top: 32px;
  text-align:center;
}

.portada-texto{
  background-color: rgb(0,0,0,0.35);
  padding: 24px;
  border-radius:10px;
}

h2, h3{
  color: #4a2e2b;
  margin-bottom: 12px
}

main p{
  max-width: 60ch;
}

main a{
  text-decoration: none;
}

.destacado {
  background-color: rgb(224, 187, 213);
  padding: 20px 10px 20px 10px;
}

#footer {
  font-size: small;
  font-family: "Times New Roman", Times, serif;
  color: rosybrown;
}

nav a:hover {
  color: #d33694;
}

table { 
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 24px;
}

th, td {
    padding: 10px;
    border: 1px solid #e8c5c8;
    text-align: left;
}

thead th { 
    background-color: rosybrown;
    color: #4a2e2b;
}

tfoot td {
    padding: 12px;
    font-style: italic;
    background-color: rgb(219, 177, 177);
}

fieldset{
    padding: 16px;
}

section h3::first-letter{
  color:#4a2e2b;
  font-size: 32px;
  font-weight: bold;
}

nav::before{
  font-size: 2rem;
  gap: 10px;
  color: rosybrown;
}

input:focus{
  border-color: #d33694;
  box-shadow:inset 0 0 5px #ff52e5;
}

aside{
  padding: 20px;
  border: 2px solid rosybrown;
  border-radius: 8px;
}


