:root {
  --color-fondo:       #FDFBF7;  /* Fondo pagina */
  --color-texto:       #4A3B32;  /* textos */
  --color-acento-rosa: #E8C5C8;  /* botones secundarios */
  --color-cta:         #C28E5D;  /* cta */
  --color-tarjeta:     #FFFFFF;  /* blanco */
  --color-linea:       #DDDAD3; 
  --color-titulo:      #9E5B63;  /* titulos, iconos, formularios */
  
  
  /*  TIPOGRAFÍA  */
  --fuente-titulo: Georgia, 'Times New Roman', serif;
  --fuente-texto:  'Segoe UI', Arial, sans-serif;
  
  /*  ESPACIADO  */
  --esp-xs: 0.8rem;    /*  8px */
  --esp-sm: 1.6rem;    /* 16px */
  --esp-md: 1.8rem;    /* 18px */
  --esp-lg: 2.4rem;    /* 24px */
  --esp-xl: 3.2rem;    /* 32px */

  /*  OTROS  */
  --radio:   0.6rem;                              /*  6px */
  --sombra-1: 0 0.2rem 0.6rem rgba(0,0,0,.06);  /* apenas separado */
  --sombra-2: 0 0.4rem 1.2rem rgba(0,0,0,.10);  /* una tarjeta */
  --sombra-3: 0 0.8rem 2.0rem rgba(0,0,0,.16);  /* elemento elevado */
  --transicion: 0.25s ease;
  --ancho-max: 120rem;                            /* 1200px */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/*Reset básico*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

h1 { 
  font-size: var(--esp-xl);
  font-family: var(--fuente-titulo);
  color: var(--color-texto);
}

h2 {
  font-size: var(--esp-lg);
  font-family: var(--fuente-texto);
  color: var(--color-texto);
}

h3 {
  font-size: var(--esp-md);
  font-family: var(--fuente-texto);
  color: var(--color-texto);
}

p {
  font-size: var(--esp-sm);
} 
a{ list-style: none;}
li {list-style: none;
font-size: var(--esp-md);}
body {
margin: 0;} 

.logo1 {
  max-width: 5rem;
  cursor: pointer;
}

.contenedor {
  width: 100%;
  max-width: 120rem;
  margin-left: auto;
  margin-right: auto;
 justify-content: space-between;
  background-color: var(--color-fondo);
}


button {
font-size: 1.6rem;
padding: .2rem .8rem;
border-radius: 30px;
border: 1px solid var(--color-acento-rosa);
box-shadow: var(--sombra-3);
color: var(--color-texto);
background-color: var(--color-cta);
}

button:hover {
  background-color: #ac7e52;
}

.inicio {
  max-width: var(--ancho-max);
  text-align: center;
  background-color: var(--color-acento-rosa);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  color: var(--color-tarjeta);
  z-index: 100;
  padding: 0rem 3rem;
}

.hero {
  padding: 2rem;
  align-items: center;
  backdrop-filter: blur(1.2rem);
  background-image: url(../recursos/fondosp.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero h2 {
  color: var(--color-tarjeta);
}

img {
  width: 100%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

}

blockquote {
  display: block;
  border-left: 1px solid var(--color-titulo);
  margin: 30px;
  text-align: left;
}
.tarjetas {
 max-width: var(--ancho-max);
 margin-left: 0;
 margin-right: 0;
 background-color: var(--color-acento-rosa);
 color: var(--color-texto);
 padding: 1rem 0px;
 margin: 2rem;
}
#historia {
  gap: 3rem;
}

div section {
  padding: 3rem;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-cta);
  text-align: center;
  max-width: 100%;
  margin: 3rem;

}

table {
  width: 80%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: var(--color-tarjeta);
  margin-bottom: 2.4rem;
  overflow-x: auto;
  page-break-inside: avoid;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--radio);
  box-shadow: var(--sombra-1);
}

th,td {
  padding: 10px;
  border: 1px solid #e8c5c8;
  justify-items: center;
}

thead th {
  background-color: rosybrown;
  color: #4a2e2b;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: var(--esp-xs);
}

tbody tr:nth-child(even){
    background-color: var(--color-acento-rosa)
}

tbody tr:hover {
  background-color: var(--color-cta);
}

tfoot td {
  padding: 12px;
  font-style: italic;
  background-color: var(--color-tarjeta);
}

fieldset {
  padding: 15px;
}

nav::before {
  font-size: 2rem;
  gap: 10px;
  color: rosybrown;
}

input:focus {
  border-color: #d33694;
  box-shadow: inset 0 0 5px #ff52e5;
}

aside {
  padding: 20px;
  border: 2px solid rosybrown;
  border-radius: 0px 30px ;
}

.Irresistible-torta { 
   position: relative;
}


.etiqueta {  /*Etiqueta a la par de imagen*/
    position: absolute;
    top: 20px;
    right: 100px;
    background-color: #d33694;
    color: #4a2e2b;
    border-radius: 0px 10px 0px 10px;
    font-size: 0.875rem;
    z-index: 10;
    padding: 10px;
}

::selection{ /*Al seleccionar el texto, se marca con café
 y la tipografía cambia a blanco*/
    background-color: rosybrown;
    color: #fff
 }  

#personalizados dt{
    font-weight: 700;
    margin-top: 12px;
}

#personalizados dd {
    margin-left: 20px;
    margin-bottom: 8px;
}

figure {
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 12px;
}

caption {
    padding: 8px;
    font-weight: 700;
    margin-bottom: 20px;
}

button [type="submit"] {
  background-color: rosybrown;
  color: #4a2e2b;
  padding: 10px;
  margin-top: 5px;
  border-radius: 20px 0px 20px 0px;
}


/* Botones y formularios */

form label {
  display: block; /*Display block: pone la etiqueta sobre el campo funciona mejor en pantallas angostas*/
  margin-bottom: 15px; /*espacio entre nombre y label*/
  font-weight: 600;
}

form input [type= "text"],
form input [type= "email"],
form input [type= "tel"],
form input [type= "password"],
form input [type= "number"],
form input [type= "date"],
form select, /* Le da una forma más estética al selector de opciones*/
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #4a2e2b;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 1rem;
  font-family: inherit; /*Loa campos de los formularios no hereda la fuente del body por omisión,
    para que adquiera la fuente que tenemos seleccionada se debe poner inherit*/
}

/*Casillas por separado*/
form input[type="radio"],
form input[type="checkbox"] {
  width: auto;
  margin-right: 6px;
  margin-bottom: 0;
}

form input [type="radio"] + label 
form input [type="checkbox"] + label {
  display: inline;
  font-weight: 400;
} /*El selector + alcanza la etiqueta y display: inline los coloca una al lado del otro*/

form input:focus,
form select:focus,
form textarea:focus {
  outline: none;
  border-color: #d33694;
  box-shadow: 0 0 0 3px rgba(31, 78, 121, 0.15);
} /* El halo azul alrededor del campo activo. El focus NO solo es decoración es una guía para el usuario*/

/*Los estados de validación*/
form input:invalid:not(:placeholder-shown) {
  border-color: #e8c5c8;
}

form input:valid:not(placeholder-show) {
  border-color: #4a2e2b;
} /*Apoy ala validación html en los required, type, patterns, minlength, etc, 
    colocando un halo de color según si el dato es correcto o no*/

/*Para los mensajes de ayuda*/
form small {
  display: block;
  margin-top: -04px;
  margin-bottom: 15px;
  font-size: 0.8rem;
  color: #6b7280;
} /*Los <small> acompañan a los campos con los textos "mínimo 8 caracteres.Entre 1 y 8 sesiones, etc*/

/*Estilizar el botón con los estados*/
.boton, .boton-secundario {
  background-color: #c55a11;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer; /*La mano indica elemento pulsable*/
}
/*Estado: 1 hover más oscuro al pasar el cursor*/
.boton:hover {
  background-color: #a8490e;
}

/*Estads: 2 active: Aún más oscuro mientras se pulsa*/
.boton:active {
  background-color: #8a3b4b;
}

/*Estads: 3 active*/
.boton:focus {
  outline: 2px solid #f5c518;
  outline-offset: 2px;
}
/* Variante secundaria*/
.boton-secundario {
  background-color: #6b7280;
}
.boton-secundario:hover {
    background-color: #4d5563;
}

.boton {
   transition: background-color 0.3s ease;
}


#footer {
  background-color: var(--color-titulo);
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  padding: 2%;
}

/* MEDIA TABLETS */
@media (min-width: 768px){
h1 { font-size: 4rem; }
h2 { font-size: 2.8rem; }
h3 { font-size: 1.9rem }
.inicio {
  max-width: 100%;
  background-color: var(--color-acento-rosa);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  color: var(--color-tarjeta);
  z-index: 100;
}
body {
  padding: 0;
}
.menuH {
  flex-direction: row;
      gap: var(--esp-sm);
      width: auto;
}
.hero {
  padding: 5rem;
}
button {
  justify-content: flex-end;
}
}



@media (min-width: 768px) { 
  button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .inicio {
    display: flex;
    flex-direction: row;
  }
}

/* MEDIA ESCRITORIO */
@media (min-width: 1024px) {
  h1 { font-size: 4.8rem;}
  h2 { font-size: 3.2rem;}
  h3 { font-size: 2rem;}
  body {
    font-size: 1.6rem;
    max-width: 120rem;
    padding: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  .contenedor {
    padding: 0 auto;
    max-width: 100%;
  }
  .listas {
    max-width: 90rem;
  }
}

.menu {
    display: none;
}

#menu-toggle:checked ~ .menu {
    display: block;
}


/* orientacion H/V */
@media (orientation:landscape) and (max-heigth: 500px){
  .portada-texto {min-height: 100vh;
  padding: var(--esp-sm);}
  .portada-titulo{font-size: 2.4rem;}
  .portada-bajada{font-size: 1.5rem;}
}

/* correccion de menu en pantalla grande */

@media (min-width:768px){  
  .header {flex-direction: row;
  justify-content: space-between;
align-items: center;}
  .menu{flex-direction: row;
  gap: var(--esp-sm);
width: auto;}
.header nav a{
  display: inline-block;
  padding: var(--esp-xs) var(--esp-sm);
  border-bottom: none;
  border-radius: var(--radio);
  h1 {font-size: 4rem;}
}
}



@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
