:root {
  --color-fondo:       #FDFBF7;  /* Fondo pagina */
  --color-texto:       #4A3B32;  /* textos */
  --color-acento-rosa: #E8C5C8;  /* botones secundarios */
  --color-cta:         #C28E5D;  /* cta */
  --color-tarjeta:     #FFFFFF;  /* blanco */
  --color-linea:       #DDDAD3; 
  --color-titulo:      #9E5B63;  /* titulos, iconos, formularios */
  
  
  /*  TIPOGRAFÍA  */
  --fuente-titulo: Georgia, 'Times New Roman', serif;
  --fuente-texto:  'Segoe UI', Arial, sans-serif;
  
  /*  ESPACIADO  */
  --esp-xs: 0.8rem;    /*  8px */
  --esp-sm: 1.6rem;    /* 16px */
  --esp-md: 2.4rem;    /* 24px */
  --esp-lg: 4.0rem;    /* 40px */
  --esp-xl: 8.0rem;    /* 80px */

  /*  OTROS  */
  --radio:   0.6rem;                              /*  6px */
  --sombra-1: 0 0.2rem 0.6rem rgba(0,0,0,.06);  /* apenas separado */
  --sombra-2: 0 0.4rem 1.2rem rgba(0,0,0,.10);  /* una tarjeta */
  --sombra-3: 0 0.8rem 2.0rem rgba(0,0,0,.16);  /* elemento elevado */
  --transicion: 0.25s ease;
  --ancho-max: 120rem;                            /* 1200px */
}



html {
  font-size: 62.5%;

}
/*Reset básico*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

h1 { 
  font-size: var(--esp-lg);
  font-family: var(--fuente-titulo);
  color: var(--color-titulo);
}

h2 {
  font-size: var(--esp-md);
  font-family: var(--fuente-texto);
  color: var(--color-texto);
}

h3 {
  font-size: var(--esp-sm);
  font-family: var(--fuente-texto);
  color: var(--color-texto);
}

body {
width: var(--ancho-max);
background-color: #C28E5D;
text-align: center;
}

.portada {
  width: var(--ancho-max);
  background-color: var(--color-acento-rosa);
  padding: 1rem 3rem;
  position: sticky;
  margin: 0 auto;
  text-align: left;
}

.check {
  display: none;
}

.check-label {
  cursor: pointer;
}
