/*css/estilos.css*/
/*Reset básico*/
/*100% del tamaño que el usuario configuró 
Por omisión son 16px*/
html{
    font-size: 100%;
}

*{
    box-sizing:border-box; 
    margin:0; 
    padding:0;
}/*esta regla elimina los márgenes 
y el relleno, borde en el ancho y alto del elemento predeterminados de todos los elementos y establece el modelo de caja para todos ellos.*/

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family:" Arial, sans-serif"; 
    color: #333; 
    background-color: #fcfcfc;
}

/*esta regla define la fuente y el color del texto en el cuerpo del documento*/
h1{color:#aad6fe;  
   text-align:center;
}
h1{font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 2rem;
    font-weight: 700;
}
h3{
    font-size: 1.5rem;
    font-weight: 600;
}
p{
    font-size: 1rem;
    font-weight: 400;
}

header{
    background-color: #a7c8e7;
    color: #fff;
}

footer{
    background-color: #7db4e9;
    padding: 20px;
    margin-top: 32px;
}

.portada-texto {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 24px;
    border-radius: 8px;
}


h2,h3{
    color: #1f4e79;
}

main p{
    max-width: 70ch;
}/*ch es el ancho del caracter cero de la fuente en uso.El valor
70 marca el rango de lectura cómoda por línea o renglón: más larga, 
la vista se pierde al cambio de linea*/
main a{
    text-decoration: none;
    border-bottom: 1px solid #1f4e79;
}

blockquote p{
    font-style: italic;
    color: #555;
}

/*Transformación y espacio*/
header nav a{
    text-transform:uppercase;
    letter-spacing: 1px;   
    font-size: 0.9rem;
    text-decoration: none;
}

header ul li{
    list-style-type: none;
}

/*aplicar estilos a clases*/
.destacado{
    background-color: #fff3cd; 
    padding: 10px 20px;/*Aplica como las manillas del reloj: arriba, derecha,abajo,izquierda*/
}

#inicio{
    background-image: url(../recursos/fondo1.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px;
}

/*Pseudo-clase :hover*/
nav a:hover { 
    color:#f8cbad;  /*al pasar el cursor*/
}


/*Pseudo-clase :nth-child: filas cebra en la tabla*/
tbody tr:nth-child(even){
    background-color: #e0d8d8;
}


/*Pseudo-elemento ::first-letter y ::selection*/
article p::first-letter{
    font-size: 32px;
    font-weight: bold;
    color: #c55a11;
}

::selection{
    background-color: #1f4e79;
    color: white
}

aside {
    padding: 20px;
    border: 2px solid #c55a11;
    border-radius: 8px ;
}/*En este caso el padding aplica a los 4 lados a la vez: 
padding: 10px 20px aplica vertical y horizontal
padding: 10px 20px 15px 5px aplica a los 4 lados valores distintos
En el sentido de las manecillas del reloj*/

/*Aplicar lado por lado
padding-top 10px aplica arriba
padding-right 10pm10px aplica derecha
padding-bottom 10px abajo
padding-left 10px aplica izquierda*/

/*Aplica a la tabla horario.html*/

th, td {
    padding: 10px;
}

fieldset{
    padding: 16px;
}